Repository tzervas/homelab-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:terraform, validate:helm, validate:scripts, build:terraform-plan, build:helm-templates, security:terraform-scan, security:helm-scan, test:unit, helm:lint:charts, helm:template:dry-run, monitoring:validate:prometheus, monitoring:validate:grafana, security:container-scan, compliance:pod-security, terraform:plan:staging, terraform:plan:production

Path conditions:
  validate:terraform: any of: terraform/**/*
  validate:helm: any of: helm/**/*
  validate:scripts: any of: scripts/**/*
  build:terraform-plan: any of: terraform/**/*
  build:helm-templates: any of: helm/**/*
  security:terraform-scan: any of: terraform/**/*
  security:helm-scan: any of: helm/**/*
  test:unit: any of: scripts/**/*
  helm:lint:charts: any of: helm/**/*
  helm:template:dry-run: any of: helm/**/*
  monitoring:validate:prometheus: any of: helm/charts/monitoring/**/*, helm/environments/*/values-monitoring.yaml
  monitoring:validate:grafana: any of: helm/charts/monitoring/**/*
  security:container-scan: any of: helm/**/*, Dockerfile
  compliance:pod-security: any of: helm/**/*
  terraform:plan:staging: any of: terraform/**/*
  terraform:plan:production: any of: terraform/**/*

feat: Implement dynamic domain configuration generation
  config/consolidated/domains.yaml
  deploy-complete-homelab.sh
  scripts/generate-domains-config.py
Due: validate:scripts, test:unit

chore: Remove deployment-reports from version control
  docs/deployment-reports/FINAL_DEPLOYMENT_VALIDATION_REPORT.md
Due: none

Remove deploy-complete-homelab.sh with binary content
  deploy-complete-homelab.sh
Due: none

security: Enhance secret detection and repository security
  .github/pull_request_template.md
  .gitignore
  .gitleaksignore
  gitleaks-report-clean.json
  working-dir-scan.json
Due: none

Remove remaining redundant deployment and test scripts
  helm/deploy-homelab-optimized.sh
  run-tests.sh
Due: validate:helm, build:helm-templates, security:helm-scan, helm:lint:charts, helm:template:dry-run, security:container-scan, compliance:pod-security

Remove security reports from tracking and update .gitignore
  helm/security-report-20250730-145707.txt
Due: validate:helm, build:helm-templates, security:helm-scan, helm:lint:charts, helm:template:dry-run, security:container-scan, compliance:pod-security

feat: add branch management and resolution documentation
  .branch-dependencies.yaml
  .github/workflows/deployment.yml
  .github/workflows/security-scans.yml
  .github/workflows/validation.yml
  analyze_branches.sh
  branch_mapping.yaml
  docs/BRANCH_MANAGEMENT.md
  docs/branch_mapping.md
  docs/branch_status.md
  docs/branch_status_report.md
  docs/dependency_relationships.md
  docs/index.md
  docs/security_patch_status.md
  final_branch_status.txt
  merge_report.md
  merge_resolution_artifacts.tar.gz
  scripts/testing/integrated_test_orchestrator.py
  scripts/update-branches.sh
  scripts/validation/validate_yaml.py
  test_results/branch_test_mapping.md
  test_results/integrated_test_report_20250731_195313.json
  test_results/integrated_test_report_20250731_195313.md
Due: validate:scripts, test:unit

cleanup: Remove gitleaks report files from tracking
  gitleaks-report-clean.json
  working-dir-scan.json
Due: none

feat: Add optimized backup system with Git LFS support
  .gitattributes
  .gitignore
  backups/branch-consolidation-optimized/checksum.sha256
  backups/branch-consolidation-optimized/manifest.txt
  backups/branch-consolidation-optimized/working-directory-snapshot.tar.gz
  scripts/backup/create-optimized-backup.sh
Due: validate:scripts, test:unit

chore: Remove Git LFS configuration in favor of size limits
  .gitattributes
Due: none

feat: Update backup script with size limits and remove Git LFS
  scripts/backup/create-optimized-backup.sh
Due: validate:scripts, test:unit

feat: Security & CI/CD Infrastructure Foundation (#29)
  .branch-dependencies.yaml
  .github/workflows/deployment.yml
  .github/workflows/security-scans.yml
  .github/workflows/validation.yml
  .gitignore
  analyze_branches.sh
  backups/branch-consolidation-optimized/checksum.sha256
  backups/branch-consolidation-optimized/manifest.txt
  backups/branch-consolidation-optimized/working-directory-snapshot.tar.gz
  branch_mapping.yaml
  docs/BRANCH_MANAGEMENT.md
  docs/branch_mapping.md
  docs/branch_status.md
  docs/branch_status_report.md
  docs/dependency_relationships.md
  docs/index.md
  docs/security_patch_status.md
  final_branch_status.txt
  merge_report.md
  merge_resolution_artifacts.tar.gz
  scripts/backup/create-optimized-backup.sh
  scripts/testing/integrated_test_orchestrator.py
  scripts/update-branches.sh
  scripts/validation/validate_yaml.py
  test_results/branch_test_mapping.md
  test_results/integrated_test_report_20250731_195313.json
  test_results/integrated_test_report_20250731_195313.md
Due: validate:scripts, test:unit

chore: cleanup temp files and configure backup system
  .secrets.baseline
  backups/branch-consolidation-optimized/manifest.txt
Due: none

fix: remove invalid registries section from dependabot.yml and update secrets baseline
  .github/dependabot.yml
Due: none

Update README.md
  README.md
Due: none

feat: Add infrastructure setup plan and project specification
  deployment-plan.yaml
  docs/specifications/project_specification.yaml
Due: none

feat: Add project analysis script
  scripts/analyze_project.sh
Due: validate:scripts, test:unit

style: Apply code formatting and linting fixes
  .github/workflows/ci-cd.yaml
  .gitignore
  MVP_RELEASE_SUMMARY.md
  config/consolidated/certificates.yaml
  docs/certificates.md
  docs/cli-reference.md
  docs/configuration.md
  docs/deployment.md
  docs/installation.md
  docs/quickstart.md
  docs/security.md
  docs/troubleshooting.md
  homelab_orchestrator/__version__.py
  homelab_orchestrator/cli.py
  homelab_orchestrator/core/certificates.py
  homelab_orchestrator/core/unified_deployment.py
  kubernetes/base/cert-manager-issuers.yaml
  scripts/security/generate-secrets.sh
  scripts/testing/config_schema_validator.py
  scripts/testing/test_mvp_deployment.py
Due: validate:scripts, test:unit

refactor: Improve code safety and maintainability
  homelab_orchestrator/cli.py
  homelab_orchestrator/core/certificates.py
  homelab_orchestrator/core/decorators.py
  scripts/testing/test_mvp_deployment.py
Due: validate:scripts, test:unit

fix(pre-commit): update secrets baseline and apply auto-corrections
  homelab_orchestrator/cli.py
Due: none

feat(cli): enhance certificate commands with Rich progress reporting
  homelab_orchestrator/cli.py
Due: none

fix(decorators): improve type safety and documentation
  homelab_orchestrator/core/decorators.py
Due: none

refactor(cli): standardize orchestrator usage and progress reporting
  homelab_orchestrator/cli.py
Due: none

refactor(certificates): enhance security and readiness checks
  homelab_orchestrator/core/certificates.py
  scripts/testing/test_mvp_deployment.py
Due: validate:scripts, test:unit

refactor(testing): improve code organization and reduce duplication
  scripts/testing/config_schema_validator.py
  scripts/testing/test_mvp_deployment.py
Due: validate:scripts, test:unit

refactor(ui): improve progress reporting and security
  homelab_orchestrator/cli.py
  homelab_orchestrator/core/certificates.py
  homelab_orchestrator/core/ui.py
Due: none

Remove binary decorators.py from tracking
  homelab_orchestrator/core/decorators.py
Due: none

Remove test_mvp_deployment.py from version control
  homelab_orchestrator/cli.py
  homelab_orchestrator/core/certificates.py
  homelab_orchestrator/core/decorators.py
  scripts/testing/test_mvp_deployment.py
Due: validate:scripts, test:unit

feat(dev): enhance pre-commit configuration
  .pre-commit-config.yaml
  scripts/pre-commit/cache_warmup.py
Due: validate:scripts, test:unit

feat: Add core orchestrator deployment and validation engines
  homelab_orchestrator/core/orchestrator.py
  homelab_orchestrator/core/unified_deployment.py
Due: none

fix: remove invalid registries section from dependabot.yml and update secrets baseline (#30)
  .github/dependabot.yml
Due: none

feat: Add core orchestrator deployment and validation engines (#32)
  homelab_orchestrator/core/orchestrator.py
  homelab_orchestrator/core/unified_deployment.py
Due: none

feat: Add comprehensive authentication and SSO infrastructure
  homelab_orchestrator/security/__init__.py
  kubernetes/base/oauth2-proxy.yaml
  kubernetes/keycloak/oauth2-proxy-multi-client.yaml
Due: none

feat: Add comprehensive documentation and remaining infrastructure
  docs/README.md
Due: none

feat: Add comprehensive authentication and SSO infrastructure (#35)
  homelab_orchestrator/security/__init__.py
  kubernetes/base/oauth2-proxy.yaml
  kubernetes/keycloak/oauth2-proxy-multi-client.yaml
Due: none

feat: Documentation & Additional Infrastructure (#38)
  docs/README.md
Due: none
