Repository tzervas/homelab-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:terraform, validate:helm, validate:scripts, build:terraform-plan, build:helm-templates, security:terraform-scan, security:helm-scan, test:unit, helm:lint:charts, helm:template:dry-run, monitoring:validate:prometheus, monitoring:validate:grafana, security:container-scan, compliance:pod-security, terraform:plan:staging, terraform:plan:production

Path conditions:
  validate:terraform: any of: terraform/**/*
  validate:helm: any of: helm/**/*
  validate:scripts: any of: scripts/**/*
  build:terraform-plan: any of: terraform/**/*
  build:helm-templates: any of: helm/**/*
  security:terraform-scan: any of: terraform/**/*
  security:helm-scan: any of: helm/**/*
  test:unit: any of: scripts/**/*
  helm:lint:charts: any of: helm/**/*
  helm:template:dry-run: any of: helm/**/*
  monitoring:validate:prometheus: any of: helm/charts/monitoring/**/*, helm/environments/*/values-monitoring.yaml
  monitoring:validate:grafana: any of: helm/charts/monitoring/**/*
  security:container-scan: any of: helm/**/*, Dockerfile
  compliance:pod-security: any of: helm/**/*
  terraform:plan:staging: any of: terraform/**/*
  terraform:plan:production: any of: terraform/**/*

chore: remove .analysis/ from version control
  .analysis/branch_tracking.yaml
  .analysis/branch_verification.md
  .analysis/cleanup_plan.yaml
  .analysis/consolidation_plan.yaml
  .analysis/indices/doc_index.yaml
  .analysis/indices/feature_index.yaml
  .analysis/indices/feature_map.yaml
  .analysis/metadata/analyze_branches.py
  .analysis/metadata/branch_analysis.yaml
  .analysis/metadata/branch_list.txt
  .analysis/metadata/dependency_map.yaml
  .analysis/scripts.md
  .analysis/test_plan.yaml
  .analysis/timeline.yaml
Due: none

cleanup: Remove gitleaks report files from tracking
  gitleaks-report-clean.json
  working-dir-scan.json
Due: none

security: Enhance secret detection and repository security
  .github/pull_request_template.md
  .gitignore
  .gitleaksignore
  gitleaks-report-clean.json
  working-dir-scan.json
Due: none

Update README.md
  README.md
Due: none

feat: Security & CI/CD Infrastructure Foundation (#29)
  .branch-dependencies.yaml
  .github/workflows/deployment.yml
  .github/workflows/security-scans.yml
  .github/workflows/validation.yml
  .gitignore
  analyze_branches.sh
  backups/branch-consolidation-optimized/checksum.sha256
  backups/branch-consolidation-optimized/manifest.txt
  backups/branch-consolidation-optimized/working-directory-snapshot.tar.gz
  branch_mapping.yaml
  docs/BRANCH_MANAGEMENT.md
  docs/branch_mapping.md
  docs/branch_status.md
  docs/branch_status_report.md
  docs/dependency_relationships.md
  docs/index.md
  docs/security_patch_status.md
  final_branch_status.txt
  merge_report.md
  merge_resolution_artifacts.tar.gz
  scripts/backup/create-optimized-backup.sh
  scripts/testing/integrated_test_orchestrator.py
  scripts/update-branches.sh
  scripts/validation/validate_yaml.py
  test_results/branch_test_mapping.md
  test_results/integrated_test_report_20250731_195313.json
  test_results/integrated_test_report_20250731_195313.md
Due: validate:scripts, test:unit

feat: Add core orchestrator deployment and validation engines (#32)
  homelab_orchestrator/core/orchestrator.py
  homelab_orchestrator/core/unified_deployment.py
Due: none

fix: remove invalid registries section from dependabot.yml and update secrets baseline (#30)
  .github/dependabot.yml
Due: none

feat: Add comprehensive authentication and SSO infrastructure (#35)
  homelab_orchestrator/security/__init__.py
  kubernetes/base/oauth2-proxy.yaml
  kubernetes/keycloak/oauth2-proxy-multi-client.yaml
Due: none

feat: Documentation & Additional Infrastructure (#38)
  docs/README.md
Due: none

feat: update core and test components with security enhancements\n\nUpdates core orchestrator, health monitoring, and testing components\nwith enhanced security validation and testing framework
  homelab_orchestrator/core/health.py
  homelab_orchestrator/core/orchestrator.py
  homelab_orchestrator/core/unified_deployment.py
  scripts/analyze_branches.py
  scripts/backup_branches.sh
  scripts/consolidate_branches.sh
  scripts/map_features.py
  scripts/testing/test_integrated_test_orchestrator.py
  testing/test_utils.py
Due: validate:scripts, test:unit

chore: add .analysis/ to gitignore
  .gitignore
Due: none

fix: address code review feedback and security issues
  homelab_orchestrator/core/unified_deployment.py
  kubernetes/base/oauth2-proxy.yaml
  kubernetes/keycloak/oauth2-proxy-multi-client.yaml
  scripts/testing/integrated_test_orchestrator.py
  scripts/testing/test_integrated_test_orchestrator.py
Due: validate:scripts, test:unit

feat: Add optimized backup system with Git LFS support
  .gitattributes
  backups/branch-consolidation-optimized/checksum.sha256
  backups/branch-consolidation-optimized/manifest.txt
  backups/branch-consolidation-optimized/working-directory-snapshot.tar.gz
  scripts/backup/create-optimized-backup.sh
Due: validate:scripts, test:unit

feat: add branch management and resolution documentation
  scripts/testing/integrated_test_orchestrator.py
Due: validate:scripts, test:unit

ci: convert workflows to workflow_dispatch-only
  .github/workflows/ci-cd.yaml
  .github/workflows/deployment-validation-hooks.yml
  .github/workflows/deployment.yml
  .github/workflows/gitleaks.yml
  .github/workflows/infrastructure-testing.yml
  .github/workflows/repository-monitoring.yml
  .github/workflows/security-scans.yml
  .github/workflows/validation.yml
Due: none

docs(terratest): document OpenTofu prereqs and add actionable guards
  .github/workflows/infrastructure-testing.yml
  testing/run-enhanced-tests.sh
  testing/terraform/terratest/README.md
  testing/terraform/terratest/check-prereqs.sh
  testing/terraform/terratest/run-terratest.sh
Due: none

docs(terratest): document OpenTofu prereqs and add actionable guards (#70)
  .github/workflows/infrastructure-testing.yml
  testing/run-enhanced-tests.sh
  testing/terraform/terratest/README.md
  testing/terraform/terratest/check-prereqs.sh
  testing/terraform/terratest/run-terratest.sh
Due: none

fix(deps): remediate Python Dependabot alerts in uv.lock
  kubernetes/homelab-portal/backend/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

fix(deps): remediate Python Dependabot alerts in uv.lock (#71)
  kubernetes/homelab-portal/backend/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

ci: route linux x64 jobs to self-hosted podman fleet
  .github/workflows/ci-cd.yaml
  .github/workflows/deployment-validation-hooks.yml
  .github/workflows/deployment.yml
  .github/workflows/gitleaks.yml
  .github/workflows/infrastructure-testing.yml
  .github/workflows/repository-monitoring.yml
  .github/workflows/security-scans.yml
  .github/workflows/validation.yml
Due: none

ci: route linux x64 jobs to self-hosted podman fleet (#72)
  .github/workflows/ci-cd.yaml
  .github/workflows/deployment-validation-hooks.yml
  .github/workflows/deployment.yml
  .github/workflows/gitleaks.yml
  .github/workflows/infrastructure-testing.yml
  .github/workflows/repository-monitoring.yml
  .github/workflows/security-scans.yml
  .github/workflows/validation.yml
Due: none

fix: repair cheap-gate breakages (yaml, python, shell)
  .github/workflows/ci-cd.yaml
  helm/environments/values-secrets-template.yaml
  scripts/analyze_branches.py
  testing/k3s-validation/modules/k3s-specific/agent-server-comm.sh
Due: validate:helm, validate:scripts, build:helm-templates, security:helm-scan, test:unit, helm:lint:charts, helm:template:dry-run, security:container-scan, compliance:pod-security

fix: repair cheap-gate breakages (yaml, python, shell) (#73)
  .github/workflows/ci-cd.yaml
  helm/environments/values-secrets-template.yaml
  scripts/analyze_branches.py
  testing/k3s-validation/modules/k3s-specific/agent-server-comm.sh
Due: validate:helm, validate:scripts, build:helm-templates, security:helm-scan, test:unit, helm:lint:charts, helm:template:dry-run, security:container-scan, compliance:pod-security

chore(fleet): P26 standards — CI/security badges, issue close on main only
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/fleet-gap.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/close-issues-on-main.yml
  .github/workflows/fleet-ci.yml
  .github/workflows/fleet-security.yml
  .github/workflows/reopen-issues-closed-off-main.yml
  README.md
  docs/FLEET_STANDARDS.md
  scripts/close-linked-issues.sh
Due: validate:scripts, test:unit

chore(fleet): P26 standards — CI/security badges, issue close on main only (#74)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/fleet-gap.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/close-issues-on-main.yml
  .github/workflows/fleet-ci.yml
  .github/workflows/fleet-security.yml
  .github/workflows/reopen-issues-closed-off-main.yml
  README.md
  docs/FLEET_STANDARDS.md
  scripts/close-linked-issues.sh
Due: validate:scripts, test:unit

chore(fleet): P26 standards — CI/security badges, issue close on main only
  .github/workflows/close-issues-on-main.yml
  .github/workflows/reopen-issues-closed-off-main.yml
Due: none

chore(fleet): re-apply pack (workflow_dispatch + meta ubuntu-latest)
  .github/workflows/close-issues-on-main.yml
  .github/workflows/reopen-issues-closed-off-main.yml
Due: none

chore(fleet): re-apply pack (workflow_dispatch + meta ubuntu-latest) (#76)
  .github/workflows/close-issues-on-main.yml
  .github/workflows/reopen-issues-closed-off-main.yml
Due: none
