Repository tzervas/homelab-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:terraform, validate:helm, validate:scripts, build:terraform-plan, build:helm-templates, security:terraform-scan, security:helm-scan, test:unit, helm:lint:charts, helm:template:dry-run, monitoring:validate:prometheus, monitoring:validate:grafana, security:container-scan, compliance:pod-security, terraform:plan:staging, terraform:plan:production

Path conditions:
  validate:terraform: any of: terraform/**/*
  validate:helm: any of: helm/**/*
  validate:scripts: any of: scripts/**/*
  build:terraform-plan: any of: terraform/**/*
  build:helm-templates: any of: helm/**/*
  security:terraform-scan: any of: terraform/**/*
  security:helm-scan: any of: helm/**/*
  test:unit: any of: scripts/**/*
  helm:lint:charts: any of: helm/**/*
  helm:template:dry-run: any of: helm/**/*
  monitoring:validate:prometheus: any of: helm/charts/monitoring/**/*, helm/environments/*/values-monitoring.yaml
  monitoring:validate:grafana: any of: helm/charts/monitoring/**/*
  security:container-scan: any of: helm/**/*, Dockerfile
  compliance:pod-security: any of: helm/**/*
  terraform:plan:staging: any of: terraform/**/*
  terraform:plan:production: any of: terraform/**/*

Remove outdated shell scripts and consolidate deployment functionality in Python
  check-portal-status.sh
  deploy-homelab-with-sso.sh
  deploy-portal-complete.sh
  scripts/deploy-homelab.sh
  scripts/deployment/deploy-with-validation-hooks.sh
  scripts/health-monitor.sh
  scripts/install-ca-cert.sh
  scripts/migrate-to-consolidated-config.sh
  scripts/utilities/claude-task.sh
  teardown-homelab-complete.sh
  validate-deployment-complete.sh
Due: validate:scripts, test:unit

chore: Remove deployment-reports from version control
  docs/deployment-reports/FINAL_DEPLOYMENT_VALIDATION_REPORT.md
Due: none

feat: Implement dynamic domain configuration generation
  config/consolidated/domains.yaml
  deploy-complete-homelab.sh
Due: none

security: Enhance secret detection and repository security
  .github/pull_request_template.md
  .gitignore
  gitleaks-report-clean.json
  working-dir-scan.json
Due: none

Remove deploy-complete-homelab.sh with binary content
  deploy-complete-homelab.sh
Due: none

cleanup: Remove gitleaks report files from tracking
  gitleaks-report-clean.json
  working-dir-scan.json
Due: none

feat: add branch management and resolution documentation
  scripts/testing/integrated_test_orchestrator.py
Due: validate:scripts, test:unit

feat: Add optimized backup system with Git LFS support
  .gitattributes
  .gitignore
  backups/branch-consolidation-optimized/checksum.sha256
  backups/branch-consolidation-optimized/manifest.txt
  backups/branch-consolidation-optimized/working-directory-snapshot.tar.gz
  scripts/backup/create-optimized-backup.sh
Due: validate:scripts, test:unit

chore: cleanup temp files and configure backup system
  .secrets.baseline
  backups/branch-consolidation-optimized/manifest.txt
Due: none

feat: Update backup script with size limits and remove Git LFS
  scripts/backup/create-optimized-backup.sh
Due: validate:scripts, test:unit

chore: Remove Git LFS configuration in favor of size limits
  .gitattributes
Due: none

fix: branch verification updates
  .analysis/branch_tracking.yaml
  .analysis/branch_verification.md
  .analysis/indices/doc_index.yaml
  helm/charts/security-baseline/Chart.yaml
  kubernetes/base/gitlab-deployment.yaml
  kubernetes/base/jupyterlab-deployment.yaml
  kubernetes/base/keycloak-deployment.yaml
  kubernetes/base/longhorn.yaml
  kubernetes/base/namespaces.yaml
  kubernetes/base/network-policies.yaml
  kubernetes/base/ollama-webui-deployment.yaml
  kubernetes/base/pod-security-standards.yaml
  kubernetes/base/prometheus-deployment.yaml
  kubernetes/base/resource-allocations.yaml
  kubernetes/base/resource-optimization.yaml
  scripts/sync_service_names.sh
  testing/integration/test_unified_deployment.py
Due: validate:helm, validate:scripts, build:helm-templates, security:helm-scan, test:unit, helm:lint:charts, helm:template:dry-run, security:container-scan, compliance:pod-security

refactor(testing): enhance test utilities with better error handling and isolation
  .pre-commit-config.yaml
  scripts/testing/integrated_test_orchestrator.py
  scripts/testing/test_integrated_test_orchestrator.py
  testing/integration/test_cross_component_integration.py
  testing/integration/test_unified_deployment.py
  testing/test_utils.py
  testing/utils.py
Due: validate:scripts, test:unit

fix: address code review feedback and security issues
  homelab_orchestrator/__init__.py
  homelab_orchestrator/core/orchestrator.py
  homelab_orchestrator/core/unified_deployment.py
  homelab_orchestrator/security/__init__.py
  kubernetes/base/gitlab-deployment.yaml
  kubernetes/base/jupyterlab-deployment.yaml
  kubernetes/base/keycloak-deployment.yaml
  kubernetes/base/namespaces.yaml
  kubernetes/base/network-policies.yaml
  kubernetes/base/oauth2-proxy.yaml
  kubernetes/base/ollama-webui-deployment.yaml
  kubernetes/base/pod-security-standards.yaml
  kubernetes/base/prometheus-deployment.yaml
  kubernetes/base/resource-allocations.yaml
  kubernetes/base/resource-optimization.yaml
  kubernetes/keycloak/oauth2-proxy-multi-client.yaml
  scripts/testing/deployment_validation_hooks.py
  scripts/testing/integrated_test_orchestrator.py
  scripts/testing/test_integrated_test_orchestrator.py
  testing/test_utils.py
Due: validate:scripts, test:unit

refactor(security): Improve command execution safety in UnifiedDeploymentManager
  homelab_orchestrator/core/unified_deployment.py
Due: none

Step 3: Establish comprehensive user and admin bootstrap processes
  DEPLOYMENT_SUMMARY.md
  config/README.md
  config/base/global.yaml
  config/base/networking.yaml
  config/base/resources.yaml
  config/base/security.yaml
  config/base/storage.yaml
  config/consolidated/domains.yaml
  config/consolidated/networking.yaml
  deploy-complete-homelab.sh
  homelab_orchestrator/__init__.py
  homelab_orchestrator/cli.py
  homelab_orchestrator/core/config_manager.py
  homelab_orchestrator/core/deployment.py
  homelab_orchestrator/core/orchestrator.py
  homelab_orchestrator/core/security.py
  homelab_orchestrator/security/__init__.py
  kubernetes/base/gitlab-deployment.yaml
  kubernetes/base/jupyterlab-deployment.yaml
  kubernetes/base/keycloak-deployment.yaml
  kubernetes/base/oauth2-proxy.yaml
  kubernetes/base/ollama-webui-deployment.yaml
  kubernetes/base/prometheus-deployment.yaml
  pyproject.toml
  scripts/deploy-homelab.sh
  scripts/health-monitor.sh
  scripts/install-ca-cert.sh
  scripts/migrate-to-consolidated-config.sh
  uv.lock
Due: validate:scripts, test:unit

feat: Add comprehensive security and CI/CD infrastructure
  .github/dependabot.yml
  .gitignore
Due: none

feat: Complete cluster validation and comprehensive Grafana dashboards
  FINAL_DEPLOYMENT_VALIDATION_REPORT.md
  SCRIPT_REFACTORING_SUMMARY.md
  TESTING_INTEGRATION_COMPLETE.md
  helm/security-report-20250728-142449.txt
  helm/security-report-20250728-142523.txt
  homelab_orchestrator/core/deployment.py
  kubernetes/base/gitlab-deployment.yaml
  kubernetes/base/jupyterlab-deployment.yaml
  kubernetes/base/ollama-webui-deployment.yaml
  kubernetes/base/prometheus-deployment.yaml
  pyproject.toml
  scripts/testing/deployment_validation_hooks.py
  scripts/testing/integrated_test_orchestrator.py
  uv.lock
Due: validate:helm, validate:scripts, build:helm-templates, security:helm-scan, test:unit, helm:lint:charts, helm:template:dry-run, security:container-scan, compliance:pod-security

feat: Comprehensive deployment validation framework and enhanced documentation
  .gitignore
  BOOTSTRAP_ISSUES_TRACKER.md
  backups/20250729_001605/test-component/test-component-resources.yaml
  backups/20250729_001759/sample-app/sample-app-resources.yaml
  backups/20250729_001759/test-namespace/test-namespace-resources.yaml
  docs/README.md
  homelab_orchestrator/cli.py
  homelab_orchestrator/core/deployment.py
  pyproject.toml
  scripts/deployment/deploy-with-validation-hooks.sh
  scripts/testing/deployment_validation_hooks.py
  scripts/utilities/claude-task.sh
  uv.lock
Due: validate:scripts, test:unit

feat: Complete GitLab setup with Keycloak SSO integration and configuration fixes
  CLAUDE_TASK_CONTEXT.md
  WORKFLOW_VALIDATION_REPORT.md
  backups/20250729_141225/ai-tools/ai-tools-resources.yaml
  backups/20250729_141225/cluster-resources.yaml
  backups/20250729_141225/gitlab/gitlab-resources.yaml
  backups/20250729_141225/homelab-portal/homelab-portal-resources.yaml
  backups/20250729_141225/jupyter/jupyter-resources.yaml
  backups/20250729_141225/keycloak/keycloak-resources.yaml
  backups/20250729_141225/monitoring/monitoring-resources.yaml
  backups/20250729_141225/oauth2-proxy/oauth2-proxy-resources.yaml
  check-portal-status.sh
  config/base/domains.yaml
  config/base/environments.yaml
  config/base/metallb.yaml
  config/base/namespaces.yaml
  config/base/networking.yaml
  config/base/services.yaml
  config/consolidated/networking.yaml
  deploy-homelab-with-sso.sh
  deploy-portal-complete.sh
  homelab_orchestrator/cli.py
  homelab_orchestrator/core/config_manager.py
  homelab_orchestrator/core/orchestrator.py
  homelab_orchestrator/core/security.py
  homelab_orchestrator/core/unified_deployment.py
  kubernetes/base/keycloak-deployment.yaml
  kubernetes/base/oauth2-proxy.yaml
  kubernetes/keycloak/oauth2-proxy-multi-client.yaml
  pyproject.toml
  scripts/health-monitor.sh
  teardown-homelab-complete.sh
  uv.lock
  validate-deployment-complete.sh
Due: validate:scripts, test:unit

feat: Complete branch consolidation with comprehensive testing framework
  docs/consolidation-reports/BRANCH_CONSOLIDATION_SUMMARY.md
  scripts/testing/integrated_test_orchestrator.py
  testing/integration/test_cross_component_integration.py
  testing/integration/test_unified_deployment.py
Due: validate:scripts, test:unit

feat: Complete branch consolidation with comprehensive cleanup and validation
  BACKUP_DOCUMENTATION.md
  BOOTSTRAP_ISSUES_TRACKER.md
  CLAUDE_TASK_CONTEXT.md
  backups/branch-consolidation-20250730_141310/homelab-infra-complete.bundle
  backups/config-consolidation-20250730_144110/base/domains.yaml
  backups/config-consolidation-20250730_144110/base/environments.yaml
  backups/config-consolidation-20250730_144110/base/global.yaml
  backups/config-consolidation-20250730_144110/base/metallb.yaml
  backups/config-consolidation-20250730_144110/base/namespaces.yaml
  backups/config-consolidation-20250730_144110/base/networking.yaml
  backups/config-consolidation-20250730_144110/base/resources.yaml
  backups/config-consolidation-20250730_144110/base/security.yaml
  backups/config-consolidation-20250730_144110/base/services.yaml
  backups/config-consolidation-20250730_144110/base/storage.yaml
  config/README.md
  config/consolidated/domains.yaml
  config/consolidated/networking.yaml
  docs/README.md
  docs/consolidation-reports/BRANCH_ANALYSIS_REPORT.md
  docs/consolidation-reports/BRANCH_CONSOLIDATION_ANALYSIS.md
  docs/consolidation-reports/BRANCH_CONSOLIDATION_SUMMARY.md
  docs/consolidation-reports/DEPLOYMENT_SUMMARY.md
  docs/consolidation-reports/SCRIPT_REFACTORING_SUMMARY.md
  docs/consolidation-reports/STEP-11-COMPLETION-SUMMARY.md
  docs/consolidation-reports/TESTING_INTEGRATION_COMPLETE.md
  docs/consolidation-reports/TESTING_MIGRATION.md
  docs/consolidation-reports/UNIFIED_BRANCH_STRATEGY.md
  docs/consolidation-reports/WORKFLOW_VALIDATION_REPORT.md
  docs/deployment-reports/FINAL_DEPLOYMENT_VALIDATION_REPORT.md
  helm/security-report-20250728-142449.txt
  helm/security-report-20250728-142523.txt
  scripts/testing/integrated_test_orchestrator.py
Due: validate:helm, validate:scripts, build:helm-templates, security:helm-scan, test:unit, helm:lint:charts, helm:template:dry-run, security:container-scan, compliance:pod-security

docs: Add final consolidation report and complete branch cleanup
  docs/consolidation-reports/FINAL_CONSOLIDATION_REPORT.md
Due: none

chore: Remove branch-specific tracking files from remote
  docs/consolidation-reports/BRANCH_ANALYSIS_REPORT.md
  docs/consolidation-reports/BRANCH_CONSOLIDATION_ANALYSIS.md
  docs/consolidation-reports/BRANCH_CONSOLIDATION_SUMMARY.md
  docs/consolidation-reports/DEPLOYMENT_SUMMARY.md
  docs/consolidation-reports/FINAL_CONSOLIDATION_REPORT.md
  docs/consolidation-reports/SCRIPT_REFACTORING_SUMMARY.md
  docs/consolidation-reports/STEP-11-COMPLETION-SUMMARY.md
  docs/consolidation-reports/TESTING_INTEGRATION_COMPLETE.md
  docs/consolidation-reports/TESTING_MIGRATION.md
  docs/consolidation-reports/UNIFIED_BRANCH_STRATEGY.md
  docs/consolidation-reports/WORKFLOW_VALIDATION_REPORT.md
Due: none

security: Remove exposed secrets and implement Gitleaks scanning
  .gitignore
  ansible/README.md
  backups/20250729_141225/ai-tools/ai-tools-resources.yaml
  backups/20250729_141225/cluster-resources.yaml
  backups/20250729_141225/gitlab/gitlab-resources.yaml
  backups/20250729_141225/homelab-portal/homelab-portal-resources.yaml
  backups/20250729_141225/jupyter/jupyter-resources.yaml
  backups/20250729_141225/keycloak/keycloak-resources.yaml
  backups/20250729_141225/monitoring/monitoring-resources.yaml
  backups/20250729_141225/oauth2-proxy/oauth2-proxy-resources.yaml
Due: none
