Repository tzervas/homelab-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:terraform, validate:helm, validate:scripts, build:terraform-plan, build:helm-templates, security:terraform-scan, security:helm-scan, test:unit, helm:lint:charts, helm:template:dry-run, monitoring:validate:prometheus, monitoring:validate:grafana, security:container-scan, compliance:pod-security, terraform:plan:staging, terraform:plan:production

Path conditions:
  validate:terraform: any of: terraform/**/*
  validate:helm: any of: helm/**/*
  validate:scripts: any of: scripts/**/*
  build:terraform-plan: any of: terraform/**/*
  build:helm-templates: any of: helm/**/*
  security:terraform-scan: any of: terraform/**/*
  security:helm-scan: any of: helm/**/*
  test:unit: any of: scripts/**/*
  helm:lint:charts: any of: helm/**/*
  helm:template:dry-run: any of: helm/**/*
  monitoring:validate:prometheus: any of: helm/charts/monitoring/**/*, helm/environments/*/values-monitoring.yaml
  monitoring:validate:grafana: any of: helm/charts/monitoring/**/*
  security:container-scan: any of: helm/**/*, Dockerfile
  compliance:pod-security: any of: helm/**/*
  terraform:plan:staging: any of: terraform/**/*
  terraform:plan:production: any of: terraform/**/*

chore: Remove branch-specific tracking files from remote
  docs/consolidation-reports/BRANCH_ANALYSIS_REPORT.md
  docs/consolidation-reports/BRANCH_CONSOLIDATION_ANALYSIS.md
  docs/consolidation-reports/BRANCH_CONSOLIDATION_SUMMARY.md
  docs/consolidation-reports/DEPLOYMENT_SUMMARY.md
  docs/consolidation-reports/FINAL_CONSOLIDATION_REPORT.md
  docs/consolidation-reports/SCRIPT_REFACTORING_SUMMARY.md
  docs/consolidation-reports/STEP-11-COMPLETION-SUMMARY.md
  docs/consolidation-reports/TESTING_INTEGRATION_COMPLETE.md
  docs/consolidation-reports/TESTING_MIGRATION.md
  docs/consolidation-reports/UNIFIED_BRANCH_STRATEGY.md
  docs/consolidation-reports/WORKFLOW_VALIDATION_REPORT.md
Due: none

Remove outdated shell scripts and consolidate deployment functionality in Python
  check-portal-status.sh
  deploy-homelab-with-sso.sh
  deploy-portal-complete.sh
  scripts/deploy-homelab.sh
  scripts/deployment/deploy-with-validation-hooks.sh
  scripts/health-monitor.sh
  scripts/install-ca-cert.sh
  scripts/migrate-to-consolidated-config.sh
  scripts/utilities/claude-task.sh
  teardown-homelab-complete.sh
  validate-deployment-complete.sh
Due: validate:scripts, test:unit

chore: Remove deployment-reports from version control
  docs/deployment-reports/FINAL_DEPLOYMENT_VALIDATION_REPORT.md
Due: none

feat: Implement dynamic domain configuration generation
  config/consolidated/domains.yaml
  deploy-complete-homelab.sh
Due: none

Remove deploy-complete-homelab.sh with binary content
  deploy-complete-homelab.sh
Due: none

security: Enhance secret detection and repository security
  .github/pull_request_template.md
  .gitignore
  gitleaks-report-clean.json
  working-dir-scan.json
Due: none

feat: Add optimized backup system with Git LFS support
  .gitattributes
  .gitignore
  backups/branch-consolidation-optimized/checksum.sha256
  backups/branch-consolidation-optimized/manifest.txt
  backups/branch-consolidation-optimized/working-directory-snapshot.tar.gz
  scripts/backup/create-optimized-backup.sh
Due: validate:scripts, test:unit

cleanup: Remove gitleaks report files from tracking
  gitleaks-report-clean.json
  working-dir-scan.json
Due: none

feat: add branch management and resolution documentation
  scripts/testing/integrated_test_orchestrator.py
Due: validate:scripts, test:unit

chore: Remove Git LFS configuration in favor of size limits
  .gitattributes
Due: none

chore: cleanup temp files and configure backup system
  .secrets.baseline
  backups/branch-consolidation-optimized/manifest.txt
Due: none

feat: Update backup script with size limits and remove Git LFS
  scripts/backup/create-optimized-backup.sh
Due: validate:scripts, test:unit

refactor(testing): enhance test utilities with better error handling and isolation
  .pre-commit-config.yaml
  scripts/testing/integrated_test_orchestrator.py
  scripts/testing/test_integrated_test_orchestrator.py
  testing/integration/test_cross_component_integration.py
  testing/integration/test_unified_deployment.py
  testing/test_utils.py
  testing/utils.py
Due: validate:scripts, test:unit

fix: branch verification updates
  .analysis/branch_tracking.yaml
  .analysis/branch_verification.md
  .analysis/indices/doc_index.yaml
  helm/charts/security-baseline/Chart.yaml
  kubernetes/base/gitlab-deployment.yaml
  kubernetes/base/jupyterlab-deployment.yaml
  kubernetes/base/keycloak-deployment.yaml
  kubernetes/base/longhorn.yaml
  kubernetes/base/namespaces.yaml
  kubernetes/base/network-policies.yaml
  kubernetes/base/ollama-webui-deployment.yaml
  kubernetes/base/pod-security-standards.yaml
  kubernetes/base/prometheus-deployment.yaml
  kubernetes/base/resource-allocations.yaml
  kubernetes/base/resource-optimization.yaml
  scripts/sync_service_names.sh
  testing/integration/test_unified_deployment.py
Due: validate:helm, validate:scripts, build:helm-templates, security:helm-scan, test:unit, helm:lint:charts, helm:template:dry-run, security:container-scan, compliance:pod-security

fix: address code review feedback and security issues
  homelab_orchestrator/__init__.py
  homelab_orchestrator/core/orchestrator.py
  homelab_orchestrator/core/unified_deployment.py
  homelab_orchestrator/security/__init__.py
  kubernetes/base/gitlab-deployment.yaml
  kubernetes/base/jupyterlab-deployment.yaml
  kubernetes/base/keycloak-deployment.yaml
  kubernetes/base/namespaces.yaml
  kubernetes/base/network-policies.yaml
  kubernetes/base/oauth2-proxy.yaml
  kubernetes/base/ollama-webui-deployment.yaml
  kubernetes/base/pod-security-standards.yaml
  kubernetes/base/prometheus-deployment.yaml
  kubernetes/base/resource-allocations.yaml
  kubernetes/base/resource-optimization.yaml
  kubernetes/keycloak/oauth2-proxy-multi-client.yaml
  scripts/testing/deployment_validation_hooks.py
  scripts/testing/integrated_test_orchestrator.py
  scripts/testing/test_integrated_test_orchestrator.py
  testing/test_utils.py
Due: validate:scripts, test:unit

style: Apply code formatting and linting fixes
  scripts/testing/test_mvp_deployment.py
Due: validate:scripts, test:unit

refactor: Improve code safety and maintainability
  scripts/testing/test_mvp_deployment.py
Due: validate:scripts, test:unit

refactor(certificates): enhance security and readiness checks
  scripts/testing/test_mvp_deployment.py
Due: validate:scripts, test:unit

refactor(testing): improve code organization and reduce duplication
  scripts/testing/test_mvp_deployment.py
Due: validate:scripts, test:unit

Remove test_mvp_deployment.py from version control
  scripts/testing/test_mvp_deployment.py
Due: validate:scripts, test:unit

fix: implement code review feedback
  scripts/__init__.py
Due: validate:scripts, test:unit

chore: remove .analysis/ directory from version control
  .analysis/REFACTORING.md
  .analysis/branch_tracking.yaml
  .analysis/branch_verification.md
  .analysis/cleanup_plan.yaml
  .analysis/consolidation_plan.yaml
  .analysis/indices/doc_index.yaml
  .analysis/indices/feature_index.yaml
  .analysis/indices/feature_map.yaml
  .analysis/issues/REFACTORING_ISSUES.yaml
  .analysis/metadata/analyze_branches.py
  .analysis/metadata/branch_analysis.yaml
  .analysis/metadata/branch_list.txt
  .analysis/metadata/dependency_map.yaml
  .analysis/scripts.md
  .analysis/test_plan.yaml
  .analysis/timeline.yaml
Due: none

chore: add .analysis/ to gitignore
  .gitignore
Due: none

chore: remove .analysis/ from version control
  .analysis/branch_tracking.yaml
  .analysis/branch_verification.md
  .analysis/indices/doc_index.yaml
Due: none
