Repository tzervas/homelab-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: homelab-config-validation, homelab-security-check, deployment-script-validation, helm-template-validation, uv-dependency-check

homelab-config-validation:
  name: Homelab Configuration Validation
  entry: python3 scripts/testing/config_validator.py
  language: system
  pass_filenames: true

homelab-security-check:
  name: Homelab Security Context Check
  entry: python3 scripts/testing/rootless_compatibility.py --deployment-mode auto --log-level WARN
  language: system
  pass_filenames: false

deployment-script-validation:
  name: Deployment Script Validation
  entry: bash -c 'for file in "$@"; do bash -n "$file" || exit 1; done'
  language: system
  pass_filenames: true

helm-template-validation:
  name: Helm Template Validation
  entry: bash -c 'find helm/charts -name "Chart.yaml" -exec dirname {} \; | xargs -I {} helm lint {} 2>/dev/null || true'
  language: system
  pass_filenames: false

uv-dependency-check:
  name: UV Dependency Security Check
  entry: uv pip compile --upgrade-package all pyproject.toml -o /dev/null
  language: system
  pass_filenames: false

chore: Improve development tooling and bump version to 0.3.1
  .pre-commit-config.yaml
  .trunk/trunk.yaml
  ansible/roles/deployment-user/templates/sudo-wrapper.sh.j2
  pyproject.toml
  scripts/code-quality.sh
  scripts/testing/common.py
  scripts/testing/integration_tester.py
  scripts/testing/permission_verifier.py
  scripts/validate_deployment.py
Due: deployment-script-validation, uv-dependency-check

style: Apply Ruff auto-fixes and add upgraded dependency lock
  .ansible-lint
  scripts/testing/common.py
  scripts/testing/config.py
  scripts/testing/config_validator.py
  scripts/testing/infrastructure_health.py
  scripts/testing/integration_tester.py
  scripts/testing/issue_tracker.py
  scripts/testing/network_security.py
  scripts/testing/permission_verifier.py
  scripts/testing/rootless_compatibility.py
  scripts/testing/service_checker.py
  scripts/testing/test_reporter.py
  scripts/testing/validate_deployment.py
  scripts/validate_deployment.py
  uv.lock
Due: none

fix: Temporarily disable problematic pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  scripts/testing/config_validator.py
  scripts/testing/infrastructure_health.py
  scripts/testing/integration_tester.py
  scripts/testing/issue_tracker.py
  scripts/testing/network_security.py
  scripts/testing/permission_verifier.py
  scripts/testing/rootless_compatibility.py
  scripts/testing/service_checker.py
  scripts/testing/test_reporter.py
  scripts/testing/validate_deployment.py
  scripts/validate_deployment.py
Due: uv-dependency-check

backup: Save original tool configurations before streamlining
  .pre-commit-config.yaml.backup
  .trunk/trunk.yaml.backup
  docs/tooling-audit.md
  pyproject.toml.backup
Due: none

fix: apply pre-commit hook formatting and add security baseline
  .bandit
  .pre-commit-config.yaml
  .trunk/trunk.yaml
  .yamllint
  docs/MYPY_CONFIGURATION.md
  docs/MYPY_ENHANCEMENT_SUMMARY.md
  docs/security/BANDIT_SETUP_SUMMARY.md
  docs/security/bandit-configuration.md
  mypy.ini
  pyproject.toml
  scripts/testing/__init__.py
  scripts/testing/config.py
  scripts/testing/config_validator.py
  scripts/testing/infrastructure_health.py
  scripts/testing/integration_tester.py
  scripts/testing/issue_tracker.py
  scripts/testing/network_security.py
  scripts/testing/permission_verifier.py
  scripts/testing/rootless_compatibility.py
  scripts/testing/service_checker.py
  scripts/testing/test_reporter.py
  scripts/testing/validate_deployment.py
  scripts/validate_deployment.py
  uv.lock
Due: uv-dependency-check

chore: remove backup files from version control
  .gitignore
  .pre-commit-config.yaml.backup
  .trunk/trunk.yaml.backup
  pyproject.toml.backup
Due: none

feat: streamline development tooling and enhance code quality (#20)
  .bandit
  .gitignore
  .pre-commit-config.yaml
  .trunk/trunk.yaml
  .yamllint
  docs/MYPY_CONFIGURATION.md
  docs/MYPY_ENHANCEMENT_SUMMARY.md
  docs/security/BANDIT_SETUP_SUMMARY.md
  docs/security/bandit-configuration.md
  docs/tooling-audit.md
  mypy.ini
  pyproject.toml
  scripts/testing/__init__.py
  scripts/testing/config.py
  scripts/testing/config_validator.py
  scripts/testing/infrastructure_health.py
  scripts/testing/integration_tester.py
  scripts/testing/issue_tracker.py
  scripts/testing/network_security.py
  scripts/testing/permission_verifier.py
  scripts/testing/rootless_compatibility.py
  scripts/testing/service_checker.py
  scripts/testing/test_reporter.py
  scripts/testing/validate_deployment.py
  scripts/validate_deployment.py
  uv.lock
Due: uv-dependency-check

feat: add environment configuration verification script
  check-env-vars.sh
Due: none

chore: update .secrets.baseline with line number changes
  .ansible/collections/ansible_collections/community/general/plugins/modules/helm.py
  .ansible/collections/ansible_collections/community/kubernetes/plugins/modules/helm.py
  .ansible/collections/ansible_collections/community/kubernetes/plugins/modules/k8s.py
  .ansible/collections/ansible_collections/kubernetes/core/plugins/modules/k8s.py
  code-quality-output.txt
  kubernetes/base/security-contexts.yaml
  pyproject.toml
  scripts/analyze-and-test-develop.sh
  scripts/check-unsigned-commits.sh
  scripts/code-quality.sh
  scripts/deploy-and-validate.sh
  scripts/deployment/deploy-with-privileges.sh
  scripts/deployment/setup-secure-deployment.sh
  scripts/sync-private-config.sh
  scripts/sync_untracked.sh
  scripts/test-deployment-dry-run.sh
  scripts/test-deployment-readiness.sh
  scripts/test-ssh-readiness.sh
  scripts/testing/config.py
  scripts/testing/infrastructure_health.py
  scripts/testing/issue_tracker.py
  scripts/testing/permission_verifier.py
  scripts/validate-deployment-comprehensive.sh
  scripts/validate-deployment-local.sh
  scripts/validate-k8s-manifests.sh
Due: homelab-config-validation, homelab-security-check, deployment-script-validation, uv-dependency-check

Add K3s deployment stabilization and network setup scripts
  ansible/playbooks/create-vm.yml
  scripts/fix-vm-network.sh
  stabilize-and-setup-k3s.sh
Due: homelab-config-validation, deployment-script-validation

chore: remove validation reports and summaries from repository
  DEPLOYMENT-VALIDATION-REPORT.md
  DOCUMENTATION_CONSOLIDATION_SUMMARY.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/MYPY_ENHANCEMENT_SUMMARY.md
  docs/security/BANDIT_SETUP_SUMMARY.md
Due: none

chore: remove validation reports and summaries from repository (#23)
  DEPLOYMENT-VALIDATION-REPORT.md
  DOCUMENTATION_CONSOLIDATION_SUMMARY.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/MYPY_ENHANCEMENT_SUMMARY.md
  docs/security/BANDIT_SETUP_SUMMARY.md
Due: none

chore: remove validation reports and summaries from repository (#23)
  .gitignore
  DEPLOYMENT-VALIDATION-REPORT.md
  DOCUMENTATION_CONSOLIDATION_SUMMARY.md
  code-quality-output.txt
  docs/IMPLEMENTATION_SUMMARY.md
  docs/MYPY_CONFIGURATION.md
  docs/MYPY_ENHANCEMENT_SUMMARY.md
  docs/claude_integration.md
  docs/security/BANDIT_SETUP_SUMMARY.md
  docs/tooling-audit.md
  pr-description-documentation.md
Due: none

chore: remove validation reports and summaries from repository (#23) (#24)
  .gitignore
  code-quality-output.txt
  docs/MYPY_CONFIGURATION.md
  docs/claude_integration.md
  docs/tooling-audit.md
  pr-description-documentation.md
Due: none

feat: implement automated K3s deployment with VM infrastructure
  ansible/inventory/hosts.yml
  ansible/inventory/vm-test-inventory.yml
  ansible/playbooks/deploy-k3s-fixed.yml
  ansible/playbooks/deploy-k3s.yml
  deployment-plan.md
  docs/k3s-deployment-report.md
  scripts/deploy-k3s-automated.sh
  scripts/fix-vm-network.sh
  scripts/setup-k3s-access.sh
  scripts/setup-vm-auth.sh
Due: homelab-config-validation, deployment-script-validation

fix: Apply pre-commit fixes for whitespace and formatting
  README.md
  ansible/playbooks/install-longhorn-requirements.yml
  deploy-complete-homelab.sh
  helm/charts/monitoring/values.yaml
  helm/security-report-20250728-170438.txt
  helm/security-report-20250728-170503.txt
  helm/security-report-20250728-170830.txt
  kubernetes/base/ingress-config.yaml
Due: homelab-config-validation, homelab-security-check, helm-template-validation

feat: Comprehensive deployment validation framework and enhanced documentation
  .github/workflows/deployment-validation-hooks.yml
  .gitignore
  BOOTSTRAP_ISSUES_TRACKER.md
  README.md
  backups/20250729_001605/test-component/test-component-resources.yaml
  backups/20250729_001759/sample-app/sample-app-resources.yaml
  backups/20250729_001759/test-namespace/test-namespace-resources.yaml
  config/hooks/deployment-validation-hooks.yaml
  docs/README.md
  docs/comprehensive-user-guide.md
  docs/interfaces-and-processes.md
  docs/manage-commands.md
  docs/testing-guide.md
  homelab_orchestrator/__main__.py
  homelab_orchestrator/cli.py
  homelab_orchestrator/core/deployment.py
  homelab_orchestrator/tests/test_cli.py
  pyproject.toml
  scripts/deployment/deploy-with-validation-hooks.sh
  scripts/testing/deployment_validation_hooks.py
  scripts/utilities/claude-task.sh
  uv.lock
Due: deployment-script-validation, uv-dependency-check

feat: Complete branch consolidation with comprehensive testing framework
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/default.md
  .github/dependabot.yml
  .github/workflows/infrastructure-testing.yml
  .github/workflows/repository-monitoring.yml
  docs/branching-strategy.md
  docs/consolidation-reports/BRANCH_CONSOLIDATION_SUMMARY.md
  helm/security-report-20250730-145707.txt
  homelab_orchestrator/README.md
  kubernetes/README.md
  monitoring/README.md
  scripts/testing/integrated_test_orchestrator.py
  templates/helm-chart/Chart.yaml
  templates/helm-chart/values.yaml
  testing/integration/test_cross_component_integration.py
  testing/integration/test_unified_deployment.py
  testing/terraform/terratest/go.mod
  testing/terraform/terratest/k3s_cluster_test.go
Due: none

test: Add comprehensive Terratest and regression tests
  testing/regression_tests.py
  testing/terraform/terratest/networking_test.go
Due: none

docs: Add final consolidation report and complete branch cleanup
  docs/consolidation-reports/FINAL_CONSOLIDATION_REPORT.md
Due: none

security: Remove exposed secrets and implement Gitleaks scanning
  .github/workflows/gitleaks.yml
  .gitignore
  .gitleaks.toml
  .gitleaksignore
  ansible/README.md
  backups/20250729_141225/ai-tools/ai-tools-resources.yaml
  backups/20250729_141225/cluster-resources.yaml
  backups/20250729_141225/gitlab/gitlab-resources.yaml
  backups/20250729_141225/homelab-portal/homelab-portal-resources.yaml
  backups/20250729_141225/jupyter/jupyter-resources.yaml
  backups/20250729_141225/keycloak/keycloak-resources.yaml
  backups/20250729_141225/monitoring/monitoring-resources.yaml
  backups/20250729_141225/oauth2-proxy/oauth2-proxy-resources.yaml
Due: none

chore: Remove branch-specific tracking files from remote
  .gitignore
  docs/consolidation-reports/BRANCH_ANALYSIS_REPORT.md
  docs/consolidation-reports/BRANCH_CONSOLIDATION_ANALYSIS.md
  docs/consolidation-reports/BRANCH_CONSOLIDATION_SUMMARY.md
  docs/consolidation-reports/DEPLOYMENT_SUMMARY.md
  docs/consolidation-reports/FINAL_CONSOLIDATION_REPORT.md
  docs/consolidation-reports/SCRIPT_REFACTORING_SUMMARY.md
  docs/consolidation-reports/STEP-11-COMPLETION-SUMMARY.md
  docs/consolidation-reports/TESTING_INTEGRATION_COMPLETE.md
  docs/consolidation-reports/TESTING_MIGRATION.md
  docs/consolidation-reports/UNIFIED_BRANCH_STRATEGY.md
  docs/consolidation-reports/WORKFLOW_VALIDATION_REPORT.md
  update_branches.sh
Due: none

feat: Implement dynamic domain configuration generation
  Makefile
  config/consolidated/domains.yaml
  deploy-complete-homelab.sh
  scripts/generate-domains-config.py
Due: none

chore: Remove deployment-reports from version control
  docs/deployment-reports/FINAL_DEPLOYMENT_VALIDATION_REPORT.md
Due: none

chore: Add deployment-reports to .gitignore
  .gitignore
Due: none

Path conditions:
  homelab-config-validation: any of: ^(helm/|kubernetes/|ansible/).*\.(yml|yaml)$
  homelab-security-check: any of: ^(helm/.*values.*\.yaml|kubernetes/.*\.yaml)$
  deployment-script-validation: any of: ^scripts/.*\.sh$
  helm-template-validation: any of: ^helm/charts/.*\.(yaml|yml)$
  uv-dependency-check: any of: ^pyproject\.toml$
